/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
    width: 100%;
    font-family: monospace;
    background: #37383b;
    color: #e5e7eb;
}

/* CONTENEDOR PRINCIPAL */
.app {
    display: grid;
    grid-template-rows: auto 1fr;
    /* header arriba, contenido abajo */
    height: 100%;
}

/* HEADER SUPERIOR */
.header {
    background: #1f2937;
    /* gris más claro */
    border-bottom: 1px solid #374151;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CONTENIDO CON 2 COLUMNAS */
.main {
    display: grid;
    grid-template-columns: 25% 48% 25%;
    gap: 16px;
    padding: 16px;
    height: 92%;
}

/* PANEL GENÉRICO */
.panel {
    background: #22262b;
    /* panel gris oscuro */
    border: 1px solid #22262b;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* margin-top: 64px; */
}

/* TÍTULOS DE PANEL */
.panel h2 {
    font-size: 16px;
    font-weight: 600;
    color: whitesmoke;
    margin-bottom: 12px;
    /* text-transform: uppercase; */
    letter-spacing: 0.05em;
}

/* BOTONES */
button {
    background: transparent;
    border: 1px solid #374151;
    border-radius: 18px;
    color: #e5e7eb;
    padding: 12px;
    font-size: 14px;
    font-family: monospace;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s, border-color 0.3s;
}

button:hover {
    background: #272c31;
}

/* TEXTOS */
h1 {
    font-size: 22px;
}

/* CHAT CENTRAL */
.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 12px;
}

.chat-input {
    border: 1px solid #374151;
    border-radius: 18px;
    padding: 12px;
    display: flex;
    gap: 8px;
    background-color: transparent;
    color: #e5e7eb;
    outline: none;
}

.chat-input textarea {
    flex: 1;
    resize: none;
    border: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 18px;
    background: #111827;
    color: #e5e7eb;
}

.chat-input button {
    background: #22d3ee;
    color: #0f172a;
    font-weight: 600;
    border-radius: 6px;
}

/* SCROLLBARS (OPCIONAL) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 4px;
}

/* ESPACIADOR */
.space {
    flex: 1;
}

/* LINEA DE DIVISIÓN */
hr {
    border: none;
    border-top: 1px solid #374151;
}